<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ffarm_dev?autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>     
    <property name="hibernate.dbcp.maxIdle">10</property>
    <property name="hibernate.dbcp.maxActive">20</property>
    <property name="hibernate.dbcp.whenExhaustedAction">1</property>
    <property name="hibernate.dbcp.maxWait">-1</property>
    <property name="hibernate.dbcp.testOnBorrow">true</property>
    <property name="hibernate.dbcp.testOnReturn">false</property>
    <property name="hibernate.dbcp.validationQuery">select 1 from dual</property>
    <mapping resource="com/yada180/sms/hibernate/mappings/SystemUser.hbm.xml"/> 
    <mapping resource="com/yada180/sms/hibernate/mappings/Intake.hbm.xml"/> 
    <mapping resource="com/yada180/sms/hibernate/mappings/State.hbm.xml"/> 
    <mapping resource="com/yada180/sms/hibernate/mappings/Question.hbm.xml"/> 
    <mapping resource="com/yada180/sms/hibernate/mappings/MedicalCondition.hbm.xml"/>
    <mapping resource="com/yada180/sms/hibernate/mappings/JobSkill.hbm.xml"/>
    <mapping resource="com/yada180/sms/hibernate/mappings/CwtSupervisor.hbm.xml"/>
    <mapping resource="com/yada180/sms/hibernate/mappings/CwtJob.hbm.xml"/>
    <mapping resource="com/yada180/sms/hibernate/mappings/CwtDepartment.hbm.xml"/>
    <mapping resource="com/yada180/sms/hibernate/mappings/StudentHistory.hbm.xml"/>
    <mapping resource="com/yada180/sms/hibernate/mappings/StudentPassHistory.hbm.xml"/>
    <mapping resource="com/yada180/sms/hibernate/mappings/IntakeMedicalCondition.hbm.xml"/>
    <mapping resource="com/yada180/sms/hibernate/mappings/IntakeQuestionAnswer.hbm.xml"/>
    <mapping resource="com/yada180/sms/hibernate/mappings/IntakeJobSkill.hbm.xml"/>
    
  </session-factory>
</hibernate-configuration>
