/* DEFAULTS
----------------------------------------------------------*/
body, span, div, table, tr, tbody, tfoot, td, hr {
    -webkit-print-color-adjust: exact;
}
body   
{
    background: #ffffff;
    font-size: .90em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 1.8em;
    color: #18549f;
    font-family: arial;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
   
}


table {
}
.report { 
	border-left:0px solid #768ca5;
	border-right:0px solid #768ca5;
	border-top:0px solid #768ca5;
	border-bottom:0px solid #768ca5;
	padding: 10 10 10 10px;
}


td { webkit-print-color-adjust: exact;
}


.reportHeader {
	font: bold .70em Arial;
	color: #000000;
	text-align:left; 
	background:#87cefa;
}
.reportRow {
	font: .65em Arial;
	color: #000000;
	text-align:left;
	text-transform:capitalize; 
	
}
.reportStudentNameRow {
	font: .65em Arial;
	color: #000000; 
	text-align:left;
	text-transform:uppercase; 
	
}
